In [5]:
import pandas as pd


print("Hello Folks!")
country = pd.read_csv("olympics.csv")
athletes = pd.read_csv("athlete_events.csv")

country.head()
athletes.head()
athletes_country = pd.merge(athletes, country ,  how='left', left_on='NOC', right_on = 'code')

athletes_country.head()

Hello Folks!

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,l20_apps,l20_medal,l20_gold,l20_silver,l20_bronze,mostsuccessfulsport,medals,golds,silvers,bronzes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,11.0,438.0,185.0,128.0,125.0,Table Tennis,53.0,28.0,17.0,8.0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,11.0,438.0,185.0,128.0,125.0,Table Tennis,53.0,28.0,17.0,8.0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,...,11.0,46.0,10.0,17.0,19.0,Sailing,30.0,12.0,9.0,9.0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,...,11.0,46.0,10.0,17.0,19.0,Sailing,30.0,12.0,9.0,9.0
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,11.0,182.0,68.0,61.0,53.0,Speed Skating,121.0,42.0,40.0,39.0