In [5]:
import pandas as pd


print("Hello Folks!")
country = pd.read_csv("olympics.csv") # Country Details 
athletes = pd.read_csv("athlete_events.csv") # Olympics Dataset

country.head()
athletes.head()
athletes_country = pd.merge(athletes, country ,  how='left', left_on='NOC', right_on = 'code')

athletes_country.head()

Hello Folks!

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,l20_apps,l20_medal,l20_gold,l20_silver,l20_bronze,mostsuccessfulsport,medals,golds,silvers,bronzes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,11.0,438.0,185.0,128.0,125.0,Table Tennis,53.0,28.0,17.0,8.0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,...,11.0,438.0,185.0,128.0,125.0,Table Tennis,53.0,28.0,17.0,8.0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,...,11.0,46.0,10.0,17.0,19.0,Sailing,30.0,12.0,9.0,9.0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,...,11.0,46.0,10.0,17.0,19.0,Sailing,30.0,12.0,9.0,9.0
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,...,11.0,182.0,68.0,61.0,53.0,Speed Skating,121.0,42.0,40.0,39.0

In [10]:
#athletes_country.groupby(['Team'],axis=1)

athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [23]:
athletes_country.groupby(['Team','Year','Event','Medal'])['Name'].value_counts()
#print(x)

#athletes_country.describe()

Team                          Year  Event                                          Medal   Name
A North American Team         1900  Polo Men's Polo                                Bronze  Jos Eustaquio Luis Francisco Escandn y Barrn            1
                                                                                           Jos Manuel Mara del Corazn de Jess Escandn y Barrn      1
                                                                                           Jos Pablo Eustaquio Manuel Francisco Escandn y Barrn    1
                                                                                           William Hayden Wright                                   1
Afghanistan                   2008  Taekwondo Men's Flyweight                      Bronze  Rohullah Nikpai                                         1
                              2012  Taekwondo Men's Featherweight                  Bronze  Rohullah Nikpai                                         1
Algeria                       1984  Boxing Men's Light-Heavyweight                 Bronze  Mustapha Moussa                                         1
                                    Boxing Men's Middleweight                      Bronze  Mohamed Zaoui                                           1
                              1992  Athletics Women's 1,500 metres                 Gold    Hassiba Boulmerka                                       1
                                    Boxing Men's Featherweight                     Bronze  Hocine Soltani                                          1
                              1996  Athletics Men's 1,500 metres                   Gold    Noureddine Morceli                                      1
                                    Boxing Men's Lightweight                       Gold    Hocine Soltani                                          1
                                    Boxing Men's Middleweight                      Bronze  Mohamed Bahari                                          1
                              2000  Athletics Men's 5,000 metres                   Silver  Ali Sadi-Sief                                           1
                                    Athletics Men's 800 metres                     Bronze  Assa Djabir Sad-Guerni                                  1
                                    Athletics Men's High Jump                      Bronze  Abderrahmane Hammad Zaheer                              1
                                    Athletics Women's 1,500 metres                 Gold    Nouria Mrah-Benida                                      1
                                    Boxing Men's Light-Welterweight                Bronze  Mohamed Allalou                                         1
                              2008  Judo Men's Middleweight                        Silver  Amar Benikhlef                                          1
                                    Judo Women's Half-Lightweight                  Bronze  Soraya Haddad                                           1
                              2012  Athletics Men's 1,500 metres                   Gold    Taoufik Makhloufi                                       1
                              2016  Athletics Men's 1,500 metres                   Silver  Taoufik Makhloufi                                       1
                                    Athletics Men's 800 metres                     Silver  Taoufik Makhloufi                                       1
Ali-Baba II                   1948  Sailing Mixed 6 metres                         Bronze  Gsta Antenor Saln                                       1
                                                                                           Karl-Robert Ameln                                       1
                                                                                           Martin Leonard Hindorff                                 1
                                                                                           Tore Anton Holm                                         1
                                                                                           Torsten Hjalmar Lord                                    1
Amateur Athletic Association  1900  Athletics Men's 5,000 metres, Team             Gold    Alfred Ernest Tysoe                                     1
                                                                                           Charles Bennett                                         1
                                                                                                                                                  ..
Yugoslavia                    1988  Water Polo Men's Water Polo                    Gold    Tomislav Pakvalin                                       1
                                                                                           Veselin uho                                             1
                                    Wrestling Men's Flyweight, Freestyle           Silver  aban Trstena                                            1
Zambia                        1984  Boxing Men's Light-Flyweight                   Bronze  Keith Mwila                                             1
                              1996  Athletics Men's 400 metres Hurdles             Silver  Samuel Matete                                           1
Zimbabwe                      1980  Hockey Women's Hockey                          Gold    Alexandra "Sandy" Chick                                 1
                                                                                           Ann-Mary Gwynne Grant (Fletcher-)                       1
                                                                                           Anthea Dorine Stewart (Allin-)                          1
                                                                                           Brenda Joan Phillips                                    1
                                                                                           Christine Seraphine "Chris" Prinsloo                    1
                                                                                           Elizabeth "Liz" Chase                                   1
                                                                                           Gillian "Gill" Cowley                                   1
                                                                                           Helen Volk                                              1
                                                                                           Linda Margaret Watson                                   1
                                                                                           Maureen Jean George                                     1
                                                                                           Patricia Jean "Pat" McKillop (Fraser-, -Williams)       1
                                                                                           Patricia Joan "Trish" Davies                            1
                                                                                           Sarah English                                           1
                                                                                           Sonia Robertson (Chick-)                                1
                                                                                           Susan "Sue" Huggett                                     1
                              2004  Swimming Women's 100 metres Backstroke         Silver  Kirsty Leigh Coventry (-Seward)                         1
                                    Swimming Women's 200 metres Backstroke         Gold    Kirsty Leigh Coventry (-Seward)                         1
                                    Swimming Women's 200 metres Individual Medley  Bronze  Kirsty Leigh Coventry (-Seward)                         1
                              2008  Swimming Women's 100 metres Backstroke         Silver  Kirsty Leigh Coventry (-Seward)                         1
                                    Swimming Women's 200 metres Backstroke         Gold    Kirsty Leigh Coventry (-Seward)                         1
                                    Swimming Women's 200 metres Individual Medley  Silver  Kirsty Leigh Coventry (-Seward)                         1
                                    Swimming Women's 400 metres Individual Medley  Silver  Kirsty Leigh Coventry (-Seward)                         1
Zut                           1908  Sailing Mixed 6 metres                         Silver  Henri Weewauters                                        1
                                                                                           Lon Florent Marie Huybrechts                            1
                                                                                           Pierre Louis Joseph Huybrechts                          1
Name: Name, Length: 39768, dtype: int64

In [1]:

athletes_country.groupby(['Team','Year','Event','Medal','Age'])['Name'].value_counts()
#print(x)

NameError: name 'athletes_country' is not defined