In [5]:
import pandas as pd


print("Hello Folks!")
country = pd.read_csv("olympics.csv") # Country Details 
olympic_athletes = pd.read_csv("athlete_events.csv") # Olympics Dataset

country.head()
olympic_athletes.head()
athletes_country = pd.merge(olympic_athletes, country ,  how='left', left_on='NOC', right_on = 'code')

olympic_athletes.head()

Hello Folks!

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
#Definition of Country Dataset

country.info()
#country.columns=['Nation', 'Population', 'Exists' , 'Country Code', 'First Appearance', ]
#print("Hello")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 33 columns):
nation                 226 non-null object
population             226 non-null int64
exists                 226 non-null object
code                   226 non-null object
first_app              226 non-null int64
t_medal                226 non-null float64
s_medal                226 non-null float64
w_medal                226 non-null float64
apps                   226 non-null int64
medal                  226 non-null int64
gold                   226 non-null int64
silver                 226 non-null int64
bronze                 226 non-null int64
so_apps                226 non-null int64
so_medal               226 non-null int64
so_gold                226 non-null int64
so_silver              226 non-null int64
so_bronze              226 non-null int64
wo_apps                226 non-null int64
wo_medal               226 non-null int64
wo_gold                226 non-null int64
wo_silver              226 non-null int64
wo_bronze              226 non-null int64
l20_apps               226 non-null int64
l20_medal              226 non-null int64
l20_gold               226 non-null int64
l20_silver             226 non-null int64
l20_bronze             226 non-null int64
mostsuccessfulsport    226 non-null object
medals                 226 non-null int64
golds                  226 non-null int64
silvers                226 non-null int64
bronzes                226 non-null int64
dtypes: float64(3), int64(26), object(4)
memory usage: 58.3+ KB

In [7]:
olympic_athletes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [8]:
athletes_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271116 entries, 0 to 271115
Data columns (total 48 columns):
ID                     271116 non-null int64
Name                   271116 non-null object
Sex                    271116 non-null object
Age                    261642 non-null float64
Height                 210945 non-null float64
Weight                 208241 non-null float64
Team                   271116 non-null object
NOC                    271116 non-null object
Games                  271116 non-null object
Year                   271116 non-null int64
Season                 271116 non-null object
City                   271116 non-null object
Sport                  271116 non-null object
Event                  271116 non-null object
Medal                  39783 non-null object
nation                 270693 non-null object
population             270693 non-null float64
exists                 270693 non-null object
code                   270693 non-null object
first_app              270693 non-null float64
t_medal                270693 non-null float64
s_medal                270693 non-null float64
w_medal                270693 non-null float64
apps                   270693 non-null float64
medal                  270693 non-null float64
gold                   270693 non-null float64
silver                 270693 non-null float64
bronze                 270693 non-null float64
so_apps                270693 non-null float64
so_medal               270693 non-null float64
so_gold                270693 non-null float64
so_silver              270693 non-null float64
so_bronze              270693 non-null float64
wo_apps                270693 non-null float64
wo_medal               270693 non-null float64
wo_gold                270693 non-null float64
wo_silver              270693 non-null float64
wo_bronze              270693 non-null float64
l20_apps               270693 non-null float64
l20_medal              270693 non-null float64
l20_gold               270693 non-null float64
l20_silver             270693 non-null float64
l20_bronze             270693 non-null float64
mostsuccessfulsport    270693 non-null object
medals                 270693 non-null float64
golds                  270693 non-null float64
silvers                270693 non-null float64
bronzes                270693 non-null float64
dtypes: float64(32), int64(2), object(14)
memory usage: 101.4+ MB

In [9]:
#athletes_country.groupby(['Team'],axis=1)

athletes.head()

NameError: name 'athletes' is not defined

In [ ]:
athletes_country.groupby(['Team','Year','Event','Medal'])['Name'].value_counts()
#print(x)

#athletes_country.describe()

In [ ]:

athletes_country.groupby(['Team','Year','Event','Medal','Age'])['Name'].value_counts()
#print(x)
#

In [14]:
olympic_athletes.(['Team','Year','Event','Medal','Age','Height'])['Name'].value_counts()
#print(x)groupby

Team                          Year  Event                                          Medal   Age   Height  Name
Afghanistan                   2008  Taekwondo Men's Flyweight                      Bronze  21.0  183.0   Rohullah Nikpai                                      1
                              2012  Taekwondo Men's Featherweight                  Bronze  25.0  183.0   Rohullah Nikpai                                      1
Algeria                       1992  Athletics Women's 1,500 metres                 Gold    24.0  158.0   Hassiba Boulmerka                                    1
                                    Boxing Men's Featherweight                     Bronze  19.0  165.0   Hocine Soltani                                       1
                              1996  Athletics Men's 1,500 metres                   Gold    26.0  175.0   Noureddine Morceli                                   1
                                    Boxing Men's Lightweight                       Gold    23.0  165.0   Hocine Soltani                                       1
                                    Boxing Men's Middleweight                      Bronze  20.0  180.0   Mohamed Bahari                                       1
                              2000  Athletics Men's 5,000 metres                   Silver  22.0  185.0   Ali Sadi-Sief                                        1
                                    Athletics Men's 800 metres                     Bronze  23.0  187.0   Assa Djabir Sad-Guerni                               1
                                    Athletics Men's High Jump                      Bronze  23.0  189.0   Abderrahmane Hammad Zaheer                           1
                                    Athletics Women's 1,500 metres                 Gold    29.0  162.0   Nouria Mrah-Benida                                   1
                                    Boxing Men's Light-Welterweight                Bronze  26.0  174.0   Mohamed Allalou                                      1
                              2008  Judo Men's Middleweight                        Silver  26.0  186.0   Amar Benikhlef                                       1
                                    Judo Women's Half-Lightweight                  Bronze  23.0  155.0   Soraya Haddad                                        1
                              2012  Athletics Men's 1,500 metres                   Gold    24.0  170.0   Taoufik Makhloufi                                    1
                              2016  Athletics Men's 1,500 metres                   Silver  28.0  170.0   Taoufik Makhloufi                                    1
                                    Athletics Men's 800 metres                     Silver  28.0  170.0   Taoufik Makhloufi                                    1
Amateur Athletic Association  1900  Athletics Men's 5,000 metres, Team             Gold    23.0  178.0   Stanley Rupert "Stan" Rowley                         1
                                                                                           26.0  175.0   Alfred Ernest Tysoe                                  1
Angelita                      1932  Sailing Mixed 8 metres                         Gold    21.0  167.0   Richard Fulton Moore                                 1
Aphrodite                     1964  Sailing Mixed Three Person Keelboat            Bronze  27.0  183.0   Charles Sinclair "Charlie" Rogers                    1
                                                                                           33.0  180.0   Richard Burke "Dick" Deaver                          1
                                                                                           34.0  183.0   Lowell Orton North                                   1
Argentina                     1924  Athletics Men's Triple Jump                    Silver  22.0  186.0   Luis ngel Brunetto                                   1
                                    Boxing Men's Heavyweight                       Bronze  23.0  193.0   Alfredo Jose Antonio Eugenio Porzio                  1
                              1928  Fencing Men's Foil, Team                       Bronze  29.0  168.0   Roberto Larraz                                       1
                                    Football Men's Football                        Silver  21.0  170.0   Roberto Eugenio Cherro (Cerro-)                      1
                                                                                           22.0  176.0   Manuel Ferreira                                      1
                                                                                           23.0  176.0   ngel Fernando Bossio Garclandez                      1
                                                                                           24.0  179.0   Fernando Paternoster                                 1
                                                                                                                                                             ..
Yugoslavia                    1988  Water Polo Men's Water Polo                    Gold    24.0  196.0   Aleksandar otar                                      1
                                                                                                 197.0   Renco Posinkovi                                      1
                                                                                           26.0  190.0   Deni Lui                                             1
                                                                                                 192.0   Dragan Andri                                         1
                                                                                           27.0  204.0   Tomislav Pakvalin                                    1
                                                                                           28.0  187.0   Veselin uho                                          1
                                    Wrestling Men's Flyweight, Freestyle           Silver  23.0  165.0   aban Trstena                                         1
Zambia                        1996  Athletics Men's 400 metres Hurdles             Silver  27.0  183.0   Samuel Matete                                        1
Zimbabwe                      1980  Hockey Women's Hockey                          Gold    22.0  155.0   Brenda Joan Phillips                                 1
                                                                                           23.0  157.0   Patricia Joan "Trish" Davies                         1
                                                                                           24.0  138.0   Maureen Jean George                                  1
                                                                                                 160.0   Patricia Jean "Pat" McKillop (Fraser-, -Williams)    1
                                                                                                         Sarah English                                        1
                                                                                                 165.0   Linda Margaret Watson                                1
                                                                                           25.0  168.0   Gillian "Gill" Cowley                                1
                                                                                                 170.0   Ann-Mary Gwynne Grant (Fletcher-)                    1
                                                                                           26.0  150.0   Helen Volk                                           1
                                                                                                 172.0   Susan "Sue" Huggett                                  1
                                                                                           28.0  156.0   Christine Seraphine "Chris" Prinsloo                 1
                                                                                           30.0  168.0   Elizabeth "Liz" Chase                                1
                                                                                           33.0  168.0   Alexandra "Sandy" Chick                              1
                                                                                                         Sonia Robertson (Chick-)                             1
                                                                                           35.0  160.0   Anthea Dorine Stewart (Allin-)                       1
                              2004  Swimming Women's 100 metres Backstroke         Silver  20.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
                                    Swimming Women's 200 metres Backstroke         Gold    20.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
                                    Swimming Women's 200 metres Individual Medley  Bronze  20.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
                              2008  Swimming Women's 100 metres Backstroke         Silver  24.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
                                    Swimming Women's 200 metres Backstroke         Gold    24.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
                                    Swimming Women's 200 metres Individual Medley  Silver  24.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
                                    Swimming Women's 400 metres Individual Medley  Silver  24.0  176.0   Kirsty Leigh Coventry (-Seward)                      1
Name: Name, Length: 31049, dtype: int64

In [ ]:
athletes_country.groupby(['Event'])['Age','Height','Weight'].mean()

In [15]:
# athletes_country.drop
# df = olympic_athletes[olympic_athletes.columns.drop(list(athletes_country.filter(regex='Art')))]
# #print(df)
# df.drop(df.loc[df['Event'].str.startswith('Art')].index, inplace=True)
# pd.set_option('display.max_columns', None) 
# #pd.options.display.max_rows = 999
olympic_athletes.groupby(['Event'])['Age','Height','Weight'].mean().head(100)
#olympic_athletes.mean()

,Age,Height,Weight
Event,,,
Aeronautics Mixed Aeronautics,26.000000,NaN,NaN
Alpine Skiing Men's Combined,24.100352,180.143939,83.737245
Alpine Skiing Men's Downhill,24.083770,177.947984,79.260756
Alpine Skiing Men's Giant Slalom,23.330452,176.820246,76.398104
Alpine Skiing Men's Slalom,23.523323,177.275732,76.591383
Alpine Skiing Men's Super G,24.536842,179.677895,82.854737
Alpine Skiing Women's Combined,22.800554,168.669091,65.131868
Alpine Skiing Women's Downhill,22.501412,167.234165,62.976744
Alpine Skiing Women's Giant Slalom,22.015609,166.357527,61.264022
Alpine Skiing Women's Slalom,22.033126,167.171429,61.881379
Alpine Skiing Women's Super G,23.109453,167.975207,64.591667
Alpinism Mixed Alpinism,38.812500,NaN,NaN
"Archery Men's Au Chapelet, 33 metres",36.666667,NaN,NaN
"Archery Men's Au Chapelet, 50 metres",35.666667,NaN,NaN
"Archery Men's Au Cordon Dore, 33 metres",36.666667,NaN,NaN
"Archery Men's Au Cordon Dore, 50 metres",29.000000,NaN,NaN
Archery Men's Championnat Du Monde,29.000000,NaN,NaN
Archery Men's Continental Style,42.538462,NaN,NaN
Archery Men's Double American Round,49.444444,169.333333,NaN
Archery Men's Double York Round,45.656250,171.500000,NaN
Archery Men's Individual,27.370068,178.240580,76.620846
"Archery Men's Pole Archery, Large Birds, Individual",NaN,NaN,NaN
"Archery Men's Pole Archery, Large Birds, Team",NaN,NaN,NaN
"Archery Men's Pole Archery, Small Birds, Individual",NaN,NaN,NaN
"Archery Men's Pole Archery, Small Birds, Team",NaN,NaN,NaN
Archery Men's Sur La Perche a La Herse,35.500000,NaN,NaN
Archery Men's Sur La Perche a La Pyramide,43.666667,NaN,NaN
"Archery Men's Target Archery, 28 metres, Individual",47.000000,NaN,NaN
"Archery Men's Target Archery, 28 metres, Team",41.950000,NaN,NaN
"Archery Men's Target Archery, 33 metres, Individual",49.000000,NaN,NaN
...,...,...,...
"Athletics Men's 1,500 metres",24.182718,177.637620,65.173679
"Athletics Men's 1,500 metres Walk",26.333333,179.000000,60.000000
"Athletics Men's 1,600 metres Medley Relay",22.178571,178.214286,69.583333
Athletics Men's 10 kilometres Walk,28.617647,175.954545,67.974359
Athletics Men's 10 mile Walk,25.238095,175.166667,65.666667
"Athletics Men's 10,000 metres",26.514634,172.638965,60.061224
Athletics Men's 100 metres,23.839432,176.864104,71.982867
Athletics Men's 110 metres Hurdles,24.674473,185.112656,77.337324
"Athletics Men's 2,500 metres Steeplechase",21.500000,165.666667,67.666667
"Athletics Men's 2,590 metres Steeplechase",21.857143,173.000000,64.000000
Athletics Men's 20 kilometres Walk,27.264234,175.816024,64.749258
Athletics Men's 200 metres,23.829268,178.527634,72.438820
Athletics Men's 200 metres Hurdles,22.400000,177.400000,67.000000
"Athletics Men's 3 mile, Team",23.592593,172.750000,62.833333
"Athletics Men's 3,000 metres Steeplechase",25.879552,176.542056,63.877551
"Athletics Men's 3,000 metres Walk",27.631579,176.666667,66.857143
"Athletics Men's 3,000 metres, Team",23.608696,174.083333,63.358696
"Athletics Men's 3,200 metres Steeplechase",24.476190,172.555556,63.222222
"Athletics Men's 3,500 metres Walk",25.550000,176.400000,68.200000
"Athletics Men's 4 mile, Team",20.888889,171.400000,63.600000
Athletics Men's 4 x 100 metres Relay,24.127078,177.770229,72.337601
Athletics Men's 4 x 400 metres Relay,24.050292,180.477052,72.097122
"Athletics Men's 4,000 metres Steeplechase",24.125000,168.500000,76.000000
Athletics Men's 400 metres,23.804734,179.788256,71.587230
Athletics Men's 400 metres Hurdles,24.765152,182.349788,73.704416
Athletics Men's 5 mile,23.905660,171.434783,62.190476
"Athletics Men's 5,000 metres",25.320935,174.762424,61.944308
"Athletics Men's 5,000 metres, Team",23.333333,173.000000,69.000000
Athletics Men's 50 kilometres Walk,29.846753,176.817159,65.779037
Athletics Men's 56-pound Weight Throw,33.333333,183.333333,100.125000

In [ ]:
athletes_country.info()